body {
  /* background-color: gray; */
  /* width: 95%;
    margin: 20px auto; */
}

* {
  box-sizing: border-box;
}

.up_wi_wrp {
  margin-top: 95px;
  background-color: #c0d4ee;
  padding-bottom: 40px;
}

.itr_stretch {
  background-color: white;
  /* BORDER ADD */
  border-radius: 15px 15px 15px 15px;
}

.itr_wrap {
  width: 100%;
  margin: 0 auto;
}

div.itr_left,
div.itr_center,
div.itr_right {
  /*border: 1px solid black;*/
  width: 32%; /* 96% + 1% + 1% + 1% */
  /*height: 430px;*/

  float: left;
  /* box-shadow: -5px 5px 5px rgb(189, 184, 184); */
  border-radius: 20px 20px 20px 20px;
}

div.itr_left {
  margin: 1%;
}

div.itr_center {
  margin: 1% 1% 1% 0;
}

div.itr_center_under_hr {
  float: left;
  width: 32%;
  margin: 0 0 0 0;
}

div.itr_right {
  margin: 1% 1% 1% 0;
}

div.itr_left > div.itr_in_left > div.itr_stretch,
div.itr_center > div.itr_in_center > div.itr_stretch,
div.itr_right > div.itr_in_right > div.itr_stretch {
  /*border: 1px solid red;*/
  position: relative;
  width: 100%;
  /*height: 100%;*/
  /* border-radius: 12px; */
  border-radius: 15px;
}

div.itr_left > div.itr_in_left > div.itr_stretch > div.itr_top,
div.itr_center > div.itr_in_center > div.itr_stretch > div.itr_top,
div.itr_right > div.itr_in_right > div.itr_stretch > div.itr_top {
  /*border: 1px solid yellow;*/
  position: relative;
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  /* background-color: #70ab3f;   */
  overflow: hidden;
}

div.itr_left > div.itr_in_left > div.itr_stretch > div.itr_top {
  /* padding: 10%; */
}

div.itr_left > div.itr_in_left > div.itr_stretch > div.itr_top_background_left {
  background-color: #19385d;
}

div.itr_left
  > div.itr_in_left
  > div.itr_stretch
  > div.itr_top
  > div.itr_corner_top,
div.itr_center
  > div.itr_in_center
  > div.itr_stretch
  > div.itr_top
  > div.itr_corner_top,
div.itr_right
  > div.itr_in_right
  > div.itr_stretch
  > div.itr_top
  > div.itr_corner_top {
  /*border: 1px solid red;*/
  width: 18%;
  height: 18%; /* 25.5%; */
  position: absolute;
  top: 0;
  /*border-radius: 18px 0 18px 0;*/
  border-radius: 13px 0 13px 0;

  /* background-color: #19385D;    */
  background: rgb(189, 184, 184, 0.01);
  /* border-top: 1px solid rgb(187, 185, 185, .5);
    border-left: 1px solid rgb(187, 185, 185, .5); */
  /* box-shadow: 0.5px 0.5px 5px rgb(41, 41, 41);
    /* border: 1px solid rgb(223, 220, 220); */

  box-shadow: 0.5px 0.5px 5px rgb(41, 41, 41);
}

div.itr_center > div.itr_in_center > div.itr_stretch > div.itr_top > div.itr_corner_top
/*div.itr_right > div.itr_in_right > div.itr_stretch > div.itr_top > div.itr_corner_top*/ {
  /* background-color: rgba(168, 164, 164, 0.1); */
  /* padding-top: 2%;
    padding-left: 2.2%; */
}

div.itr_left > div.itr_in_left > div.itr_stretch > div.itr_middle,
div.itr_center > div.itr_in_center > div.itr_stretch > div.itr_middle,
div.itr_right > div.itr_in_right > div.itr_stretch > div.itr_middle {
  /*border: 1px solid yellow;*/
  /* position:absolute;
    bottom:0; */
  width: 100%;
  height: 40px;
  background-color: #ff9d0a; /* #648DD4 */
  /* border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px; */
}

.itr_h1 {
  /* display: inline-block; */
  float: left;
  /*     font-family: 'Assistant';
        font-family: 'Archivo',sans-serif;
        font-family: Arial, Helvetica, sans-serif; 
 */

  /* font-weight: small; */

  height: 30px;

  /*font-size: 1.5vw;*/ /* ! scale the font */

  /* letter-spacing: 1px; */
  margin: 10px 0 0 8%;
  padding: 0;
  vertical-align: middle;
  color: white;

  font-family: Open Sans, sans-serif;
  font-size: 18px;
}

.itr_h2 {
  /* font-family: 'Assistant', sans-serif; */
  height: 30%;
  margin: 0;
  padding: 0;
  padding: 2.3% 0 0 8%;

  /*font-size: 21px;*/

  font-size: 21px;
  font-family: 'Archivo Black', sans-serif;
  /* font-family: arial, helvetica, sans-serif; */
  color: #022a81;
  text-transform: uppercase;
  font-weight: bold;
}

p.itr_text {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Assistant';
  /*font-size: 1vw;
    padding: 0 8%;*/
  line-height: 1.3em;
  /* white-space: nowrap;  */
  /* overflow: hidden;  */
  height: 65%;
  padding: 5px 8% 0 8%; /* ! scale the font */
  /*line-height: 32px;*/ /* ! scale the font */
  font-size: 18px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.itr_left > div.itr_in_left > div.itr_stretch > div.itr_bottom,
div.itr_center > div.itr_in_center > div.itr_stretch > div.itr_bottom,
div.itr_right > div.itr_in_right > div.itr_stretch > div.itr_bottom {
  /*border: 1px solid yellow;*/

  width: 100%;
  height: 27%; /* ! 27% not more not less */
  border-radius: 0 0 15px 15px;
  background-color: white;
}

div.itr_left
  > div.itr_in_left
  > div.itr_stretch
  > div.itr_bottom
  > div.itr_corner_bottom,
div.itr_center
  > div.itr_in_center
  > div.itr_stretch
  > div.itr_bottom
  > div.itr_corner_bottom,
div.itr_right
  > div.itr_in_right
  > div.itr_stretch
  > div.itr_bottom
  > div.itr_corner_bottom {
  width: 105px;
  text-align: center;

  height: 40px;

  position: absolute;
  bottom: 0;
  right: 0;
  /*border-radius: 18px 0 18px  0;*/
  border-radius: 15px 0 15px 0;

  background-color: #e55128;

  padding: 1px;
  z-index: 1;
  /* position: relative;
    padding-bottom: 9%; */
}

a.itr_play {
  /* padding: 2.3% 0 0 8%;                                             */
  /*font-family: Arial, Helvetica, sans-serif;*/

  font-family: Open Sans, sans-serif;

  font-size: 18px;
  /*
    width: 103%;
    height: 105%;
    */
  color: white;
  display: block;

  padding: 9px 10px 8px 14px; /*! VD changed - previous was:    padding: ***10***px 10px 8px 14px; */

  /*border-radius: 18px 0 18px 0;*/
  border-radius: 20px 0 20px 0;

  height: 100%;

  text-decoration: none;
}

div.itr_left > div.itr_proportional,
div.itr_center > div.itr_proportional,
div.itr_right > div.itr_proportional {
  position: relative; /* ! */
  width: 100%; /* ? works without this it seems in anyway */
  /* height:390px;  */

  padding-bottom: 106%; /*   making block 2:3 */
}

div.itr_left > div.itr_proportional > div.itr_stretch,
div.itr_center > div.itr_proportional > div.itr_stretch,
div.itr_right > div.itr_proportional > div.itr_stretch {
  position: absolute; /* ! */
  height: 100%; /* ! */

  /* width:100%;*/
  /* overflow: hidden;*/
}

.itr_coin_img {
  width: 100%; /* !!! style= attribute is defined (priority) */ /* cut the image where is needed */
  height: 100%; /* cut the image where is needed */
  /*object-fit: cover; */ /*cut the image where is needed*/
  border-radius: 25px;
  /* object-position: 0 0; */
}

div.itr_coin_wrap {
  /* ! coins images to center */
  /* border: 2px solid burlywood;  */
  position: relative;
  /* margin: 8% auto; */
  /* width: 60%;
    height: 40%; */
  /* background-color: red;  */
}

/* div.itr_coins {
border-radius: 0;
} */

.itr_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.itr_left
  > div.itr_in_left
  > div.itr_stretch
  > div.itr_top
  > div.itr_corner_top
  > .itr_corner_img,
div.itr_center
  > div.itr_in_center
  > div.itr_stretch
  > div.itr_top
  > div.itr_corner_top
  > .itr_corner_img,
div.itr_right
  > div.itr_in_right
  > div.itr_stretch
  > div.itr_top
  > div.itr_corner_top
  > .itr_corner_img {
  width: 100%; /* cut the image where is needed */
  height: 100%; /* cut the image where is needed */
  /* margin-left: 11px;  */
  object-fit: cover; /*cut the image where is needed*/

  /*border-radius: 18px 0 18px 0;*/
  border-radius: 13px 0 13px 0;

  /* box-shadow: 1px 1px 5px rgb(41, 41, 41); */
  /* object-position: 0 0; */
}

/* div.itr_right > div.itr_in_right > div.itr_stretch > div.itr_top > div.itr_corner_top {
    width: 100%;
    height: 100%;
} */

/* div.itr_center > div.itr_in_center > div.itr_stretch > div.itr_top > div.itr_corner_top > .itr_corner_img,
div.itr_right > div.itr_in_right > div.itr_stretch > div.itr_top > div.itr_corner_top > .itr_corner_img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    
} */

/**************************** scaling the coins start ********************************/
/* .itr_coin_pre_wrap {
    background-color: chartreuse;
    position: relative;
    object-fit: cover; 
} */

div.itr_coin_wrap {
  position: relative;
  /* padding-left: 10px; */
  border-radius: 15px 15px 0 0;
  background-color: #092e80;
  /* padding: 10px; */
  /* margin: 8% auto; */
  width: 100%;

  height: 287px;
  /* overflow: hidden; */
}

/*div.itr_coin_wrap > div.itr_coin_proportional {*/
/* position: relative; */
/* background-color: rgb(255, 255, 255, 0); */
/* width: 100%; */
/* border-radius: 0; */
/* padding-bottom: 5%; */
/*}*/

/* div.itr_coin_wrap > div.itr_coin_proportional > div.itr_coin_stretch {
    position: absolute; 
    height: 100%;
} */

/**************************** scaling the coins end ********************************/

.itr_corner_img_in_orange_liniy_right {
  position: relative;
  top: -2px;
  float: left;
  margin: 0;
  height: 25px;
  margin-top: -1px; /*! VD changed - previous was: -4 */
  margin-right: 7px;
}

.wi_header_title {
  float: left;
  width: 100%;
  /*background-color:#FF9D0A; */
  /*height:40px;*/

  /* margin-bottom:-5px; */
  background-color: inherit;
}

.itr_left_title {
  margin: 1%;
  float: left;
  width: 32%;
}

.itr_right_title {
  margin: 1% 1% 1% 0;
  float: left;
  width: 32%;
}

.wi_in_header_title_block_pc {
  /* position:relative;
    top:-13px; */
  margin-left: 0px;
  float: left;
  width: 100%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
  text-align: center;

  padding: 10px 0 10px 0;
  vertical-align: middle;
  color: white;
  background-color: white;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
}

.wi_in_header_title_block_mobile {
  float: left;
  width: 100%;
  /* font-family: 'Assistant'; */
  font-family: 'Archivo Black', sans-serif;

  font-size: 18px;
  /* margin: 0 0 0 8%;*/
  /* height:44px; */

  text-align: center;
  padding: 0;

  padding-top: 10px;
  padding-bottom: 5px;
  vertical-align: middle;
  color: white;
  background-color: white;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;

  display: none;
}

.pstrnav {
  padding-top: 20px;
}

#js_html_content {
  overflow: visible;
  /* margin-top:96px; */
}

@media screen and (min-width: 560px) and (max-width: 1020px) {
  #js_html_content {
    overflow: hidden;
    margin-top: 0px;
  }

  .up_wi_wrp {
    margin-top: 95px;
    background-color: #c0d4ee;
  }
  /* .itr_wrap {
        padding: 15px 0;
    } */

  .wi_header_title {
    /* display:none; */
  }

  .itr_corner_img_in_orange_liniy_right {
    position: relative;
    float: left;
    margin: 0;
    height: 25px;
    margin-top: 9px;
    margin-right: 7px;
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    width: 48.5%;
  }

  div.itr_left {
    margin: 1%;
  }

  div.itr_center {
    margin: 1% 1% 1% 0;
  }

  div.itr_right {
    margin: 0 1% 1% 1%;
  }

  .itr_h1 {
    /* font-family: 'Assistant'; */
    /*
            font-family: 'Archivo',sans-serif;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
      */
    margin: 1px 0 0 8%;

    height: 30px;
    line-height: 36px;

    font-family: Open Sans, sans-serif;
    font-size: 18px;
  }

  .itr_h2 {
    padding-top: 13px;
    font-size: 18px;
  }

  p.itr_text {
    font-size: 16px;
    height: 80%;
    /* background-color: black; */
  }

  /* ADD */
  div.itr_left > div.itr_proportional,
  div.itr_center > div.itr_proportional,
  div.itr_right > div.itr_proportional {
    position: relative; /* ! */
    width: 100%; /* ? works without this it seems in anyway */
    /* height:390px;  */

    padding-bottom: 136%; /*   making block 2:3 */
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    width: 47%;
  }

  div.itr_left {
    margin: 2%;
  }

  div.itr_center {
    margin: 2% 2% 2% 0;
  }

  div.itr_right {
    margin: 0 2% 2% 2%;
  }

  div.itr_left_title {
    margin: 2%;
    width: 24%;
  }

  div.itr_right_title {
    margin: 0 2% 2% 2%;
    width: 24%;
  }

  div.itr_center_under_hr {
    /* float:left; */
    width: 44%;
    /* margin: 0 0 0 0; */
  }

  .wi_in_header_title_block_pc {
    /* position:relative;
        top:-13px; */
    /* margin-left:0px; */
    /* float: left; */
    width: 91.6%;
    margin-left: 4%;
    /* font-family: 'Archivo Black',sans-serif;
        font-size: 18px;     
        text-align:center;
        
        padding:10px 0 10px 0;
        vertical-align: middle;
        color: white;
        background-color: white;  */
    border-radius: 0 0 15px 15px;
    /* margin-bottom:0; */
  }

  

@media screen and (max-width: 560px) {
  #js_html_content {
    overflow: hidden;
    /* margin-top:66px; */
  }

  .up_wi_wrp {
    margin-top: 80px;
    background-color: #c0d4ee;
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    width: 48.5%;
  }

  .itr_h2 {
    font-size: 18px;
  }

  p.itr_text {
    padding-top: 0;
    line-height: 1em;
    height: 80%;
  }

  /* div.itr_right {
        margin: 1% 1% 1% 1%; 
    } */

  div.itr_left,
  div.itr_center,
  div.itr_right {
    width: 47%;
  }

  div.itr_left {
    margin: 2%;
  }

  div.itr_center {
    margin: 2% 2% 2% 0;
  }

  div.itr_right {
    margin: 0 2% 2% 2%;
  }

  div.itr_left_title {
    margin: 2%;
    width: 17%;
  }

  div.itr_right_title {
    margin: 0 2% 2% 2%;
    width: 17%;
  }

  div.itr_center_under_hr {
    width: 58%;
  }

  div.itr_coin_wrap {
    /* border: 1px solid red; */
    /* position: relative; */
    /* top: 0;
        left: 0; */
    /* padding-left: 10px; */
    /* background-color: cadetblue; */
    /* padding: 10px; */
    /* margin: 8% auto;  */
 /* width: 40%; */
    /* height: 62.9%;    */
    /* overflow: hidden; */
    /* height: 40%; */
  }
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  #js_html_content {
    overflow: hidden;
    /* margin-top:66px; */
  }

  .pstrnav {
    padding-top: 8px;
  }

  .wi_pagination {
    float: left;
    /* background: red; */
  }

  .up_wi_wrp {
    margin-top: 82px;
    background-color: #c0d4ee;
  }

  .sp_wrp_title_daily_printable_pdf {
    padding-bottom: 0px;
  }

  .itr_h2 {
    padding-top: 11px;
    font-size: 19px;
  }

  p.itr_text {
    padding-top: 4px;
    line-height: 1em;
    height: 80%;
    font-size: 18px;
  }

  .itr_corner_img_in_orange_liniy_right {
    position: relative;
    float: left;
    margin: 0;
    height: 25px;
    margin-top: 6px;
    margin-right: 7px;
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    width: 92%;
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    margin: 4% 4% 0% 4%;
  }

  .itr_h1 {
    /*  font-family: 'Assistant';  
            font-family: 'Archivo',sans-serif;
            font-family: Arial, Helvetica, sans-serif;
        */
    margin: 2px 0 0 8%;

    height: 30px;
    line-height: 36px;

    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }

  /* ADD */
  div.itr_left > div.itr_proportional,
  div.itr_center > div.itr_proportional,
  div.itr_right > div.itr_proportional {
    position: relative; /* ! */
    width: 100%; /* ? works without this it seems in anyway */
    /* height:390px;  */

    padding-bottom: 136%; /*   making block 2:3 */
  }

  div.itr_left_title {
    margin: 0%;
    width: 0%;
  }

  div.itr_right_title {
    margin: 0 0% 0% 0%;
    width: 0%;
  }

  div.itr_center_under_hr {
    width: 100%;
  }

  .wi_in_header_title_block_pc {
    /* position:relative;
        top:-13px; */
    margin-left: 4%;
    float: left;
    width: 91.6%;
    /* font-family: 'Archivo Black',sans-serif;
        font-size: 18px;     
        text-align:center;
        
        padding:10px 0 10px 0;
        vertical-align: middle;
        color: white;
        background-color: white;  */
    border-radius: 0 0 15px 15px;
    /* margin-bottom:0; */
  }

  .up_wi_wrp {
    margin-top: 66px;
    background-color: #c0d4ee;
  }

  .wi_header_text_weekly_puzzles {
    padding-left: 3px;
    padding-right: 3px;
  }

  div.itr_coin_wrap {
    /* border: 1px solid red; */
    /* position: relative; */
    /* top: 0;
        left: 0; */
    /* padding-left: 10px; */
    /* background-color: cadetblue; */
    /* padding: 10px; */
    /* margin: 8% auto;  */
    /* width: 40%; */
    /* height: 62.9%;    */
    /* overflow: hidden; */
    /* height: 40%; */
  }
}

@media screen and (max-width: 320px) {
  #js_html_content {
    overflow: hidden;
    /* margin-top:66px; */
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    width: 92%;
  }

  div.itr_left,
  div.itr_center,
  div.itr_right {
    margin: 4% 4% 0% 4%;
  }

  .itr_h2 {
    padding-top: 6px;
    font-size: 16px;
  }

  p.itr_text {
    padding-top: 0px;
    line-height: 1em;
    height: 80%;
    font-size: 14px;
  }

  div.itr_left
    > div.itr_in_left
    > div.itr_stretch
    > div.itr_bottom
    > div.itr_corner_bottom,
  div.itr_center
    > div.itr_in_center
    > div.itr_stretch
    > div.itr_bottom
    > div.itr_corner_bottom,
  div.itr_right
    > div.itr_in_right
    > div.itr_stretch
    > div.itr_bottom
    > div.itr_corner_bottom {
    width: auto;
  }

  div.itr_left_title {
    margin: 0%;
    width: 0%;
  }

  div.itr_right_title {
    margin: 0 0% 0% 0%;
    width: 0%;
  }

  div.itr_center_under_hr {
    width: 100%;
  }

  .wi_in_header_title_block_pc {
    /* position:relative;
        top:-13px; */
    margin-left: 4%;
    float: left;
    width: 91.6%;
    /* font-family: 'Archivo Black',sans-serif;
        font-size: 18px;     
        text-align:center;
        
        padding:10px 0 10px 0;
        vertical-align: middle;
        color: white;
        background-color: white;  */
    border-radius: 0 0 15px 15px;
    /* margin-bottom:0; */
  }

  .up_wi_wrp {
    margin-top: 66px;
    background-color: #c0d4ee;
  }

  .wi_header_text_weekly_puzzles {
    padding-left: 1px;
    padding-right: 1px;
  }

  .itr_h1 {
    font-weight: normal;
  }

  div.itr_left > div.itr_proportional,
  div.itr_center > div.itr_proportional,
  div.itr_right > div.itr_proportional {
    padding-bottom: 136%; /*   making block 2:3 */
  }


